@import "../../scss/vars";

.feedback {
  &__form {
    padding-bottom: 50px;
  }
}

.form {
  background: rgba(193, 193, 193, 0.1);
  box-shadow: 10px 10px 37px 7px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(7.5px);
  border-radius: 50px;
  max-width: 795px;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;

  &__title {
    font-family: DelaGothicOne, sans-serif;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(90deg, #8A2387 0%, #E94057 50.87%, #F27121 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 30px;
  }

  &-field {
    display: block;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &__title {
      display: block;
      font-family: DelaGothicOne, sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 7px;
    }

    &__input {
      border-bottom: 2px solid #000000;
      display: flex;
      width: 100%;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      background-color: transparent;
      transition: 0.2s;
      cursor: pointer;

      font-family: Forum, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;

      padding: 7px 0;

      &::placeholder {
        font-family: Forum, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.6);
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__buttons {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    background: linear-gradient(270deg, #8A2387 0%, #E94057 51.91%, #F27121 100%);
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    border: none;

    font-family: DelaGothicOne, sans-serif;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: left;
    color: $white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.2s;
    padding: 15px 30px;
    height: 70px;
    max-width: 250px;
    width: 100%;
    box-sizing: border-box;

    &:hover {
      background: linear-gradient(90deg, #8A2387 0%, #E94057 51.91%, #F27121 100%);
    }
  }
}
