@import "../../scss/vars";

.date {
  &__top {
    position: relative;
    padding-top: 75px;

    @media screen and (max-width: 1921px) {
      padding-top: 30px;
    }
  }

  &__title {
    font-size: 100px;

    @media screen and (max-width: 1921px) {
      font-size: 70px;
    }
  }

  &__backtitle {
    position: absolute;
    bottom: 0;

    font-family: DelaGothicOne, sans-serif;
    font-size: 140px;

    text-align: center;
    text-transform: uppercase;

    background: linear-gradient(89.98deg, rgba(138, 35, 135, 0.4) 5.11%, rgba(233, 64, 87, 0.4) 55.51%, rgba(242, 113, 33, 0.4) 99.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    width: 100%;

    @media screen and (max-width: 1921px) {
      font-size: 110px;
    }
  }

  &__wrapper{
    text-align: center;
  }

  &__appeal{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__text{
    font-size: 32px;
    line-height: 200%;
    text-transform: uppercase;
    margin-bottom: 40px;

    @media screen and (max-width: 1921px) {
      font-size: 28px;
    }
  }

  &__date{
    font-family: DelaGothicOne, sans-serif;
    font-size: 64px;
    text-transform: uppercase;

    background: linear-gradient(89.81deg, #8A2387 0.21%, #E94057 53.16%, #F27121 99.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 50px;

    @media screen and (max-width: 1921px) {
      font-size: 40px;
    }
  }

  &__ps{
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    padding: 50px 0;

    @media screen and (max-width: 1921px) {
      padding: 30px 0;
    }

    & img,
    & svg{
      width: 140px;
      height: 140px;
      top: calc(50% - 70px);
      left: calc(50% - 70px);
      display: flex;
      object-fit: contain;
      position: absolute;
      z-index: -1;

      @media screen and (max-width: 1921px) {
        width: 100px;
        height: 100px;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
      }
    }
  }
}
