@import "../../scss/vars";

.timer {
  &__title {
    margin-bottom: 155px;
  }
}

.deadline {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;

  &-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    width: 100%;

    &__time {
      font-family: DelaGothicOne, sans-serif;
      font-size: 96px;
      line-height: 120%;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;

      background: linear-gradient(180deg, #8A2387 0%, #E94057 52.08%, #F27121 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    &__text {
      font-family: Forum, sans-serif;
      font-size: 50px;
      line-height: 120%;

      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
    }
  }
}