@import "../../scss/vars";

.section-title {
  font-family: DelaGothicOne, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  background: linear-gradient(90deg, #8A2387 0%, #E94057 50.87%, #F27121 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 155px;
  width: 100%;

}