@import "../../scss/vars";

.section-title {
  font-family: DelaGothicOne, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  background: linear-gradient(90deg, #8A2387 0%, #E94057 50.87%, #F27121 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 100px;
  width: 100%;

  @media screen and (max-width: 1921px) {
    font-size: 60px;
    margin-bottom: 70px;
  }

  @media screen and (max-width: 1441px) {
    font-size: 45px;
    margin-bottom: 50px;
  }
}
